@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --foreground: 17, 15, 16; 
  }

  .dark {
    --background: 17, 15, 16;
    --foreground: 212, 212, 212;
  }

  body {
    color: rgb(var(--foreground));
    background-color: rgb(var(--background));
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 5rem;
  height: 33px;
  clip-path: polygon(0% -100%, 100% -100%, 100% 100%, 10% 100%);
}

