@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 212, 212, 212; /* #D4D4D4 in RGB */
  --background-start-rgb: 17, 15, 16; /* #110F10 in RGB */
  --background-end-rgb: 17, 15, 16;   /* #110F10 in RGB */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 212, 212, 212; /* #D4D4D4 in RGB */
    --background-start-rgb: 17, 15, 16; /* #110F10 in RGB */
    --background-end-rgb: 17, 15, 16;   /* #110F10 in RGB */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



